* {
    box-sizing: border-box;
}
body {
    background: url('../images/concrete_seamless.png');
    font-size: 18px;
    line-height: 34px;
    font-family: 'Arial', 'Helvetica Neue', sans-serif;
    color: rgb(52, 52, 52);
}
.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}
h1, h2, h3, p {
    margin-bottom: 20px;
}
.navbar-brand{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}
.nav-link{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}
#nameText{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    line-height: 120%;
}
p:last-child {
    margin-bottom: 0;
}
h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #0280e1;
}
h1 {
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid #ddd;
    padding-bottom: 20px;
}
h2, h3 {
    font-size: 22px;
}
/* #masthead {
    background: #fff;
    margin: 0 0 30px;
    z-index: 99;
    color: #fff;
    overflow: auto;
    border-bottom: 2px solid #ccc;
    position: fixed;
    width: 100%;
} */
#logo {
    width: 250px;
    height: 90px;
    background: #0280e1;
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    line-height: 90px;
    color: #fff;
    font-weight: 700;
    font-size: 30px;
    text-decoration: none;
}
/* nav {
    float: right;
    margin-top: 25px;
}
nav a {
    color: #999;
    text-decoration: none;
    margin-left: 15px;
    display: inline-block;
    Border-left: 1px solid #efefef;
    padding-left: 15px;
    line-height: 18px;
}
nav a:first-child {
    border-left: 0 none;
} */
/*main*/
#main-container {
    padding-top: 30px;
}

.index-container{
    background: #fff;
    border: 1px solid #ddd;
    margin: 2% 0 2% 0;
}
.main-container {
    background: #fff;
    padding: 30px;
    margin: 0 0 40px 0;
    width: 100%;
    max-width: 650px;
    float: left;
    border: 1px solid #ddd;
}
.author-image {
    width: 200px;
    height: auto;
    margin-top: 10px;
    float: left;
    margin-right: 25px;
    
}
.lead {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
}

.row {
    margin: 2% 0 2% 0;
}

img {
    margin: 4% 0 2% 0;
    border-radius: 10px;
}


/*sidebar*/
.sidebar {
    background: #fff;
    padding: 30px;
    width: 270px;
    float: right;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}
h3, .sidebar, h2 {
    border-bottom: 2px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 15px;
    line-height: 22px;
}
.social {
    width: 62px;
    height: 62px;
    margin-top: 8px;
    margin-right: 5px;
}
.social:last-child {
    margin-right: 0;
}
/*footer*/

footer {
    background: #666;
    color: #fff;
    padding: 30px 0;
    clear: both;
    border-top: 8px solid #0280e1;
    color: #ccc;
    font-size: 12px;
    text-align: center;
}
/*portfolio*/

.work {
    width: 274px;
    overflow: auto;
    position: relative;
    float: left;
    margin: 20 px 0 25px;
}
.work:nth-child(even) {
    margin-right: 40px;
}
.work img {
    width: 100%;
    border: 0 none;
    opacity: .8;
}
.work h3 {
    border-bottom: 0;
    background: #0280e1;
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 20px;
    padding: 15px;
    width: 100%;
    line-height: 30px;
    margin-bottom: 0;
    font-weight: 300;
}
/*contact*/

#contact-form ul {
    margin-bottom: 10px;
}
#contact-form li {
    margin-bottom: 10px;
}

label,
input[type=text],
input[type=email],
textarea {
    display: block;
    width: 100%;
}
input[type=text],
input[type=email],
textarea {
    height: 35px;
    border: 1px solid #ddd;
    padding: 0 10px;
    font-size: 14px;

}
textarea {
    height: 200px;

}
input[type=submit] {
    background: #0280e1;
    border: 0 none;
    color: #fff;
    font-size: 18px;
    padding: 10px 30px;
    cursor: pointer;
}


